<h1> All Topics </h1>
<%= link_to 'Create topic', new_sub_topic_path(@sub) %>

<ul>
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.name, [@sub, @topic] %>
    </li>
  <% end %>
</ul>